body {
   background-image: url('/media/wvy.gif');
   background-size: 100% 100%;
   color: #F33;
}
.msgWrapper {
   display: flex;
   flex-wrap: wrap;
   width: 100%;
   align-items: center;
}
 .msgWrapper:has(.received) {
   justify-content: flex-start;
}
 .msgWrapper:has(.sent) {
   justify-content: flex-end;
}
 .allMessages {
   font-family: Helvetica, sans-serif;
   font-size: 10pt;
   margin: 5px;
   display: inline-block;
   position: relative;
   min-width: 25vw;
   max-width: 80vw;
   backdrop-filter: blur(7px); 
   -webkit-backdrop-filter: blur(7px); 
}
 .allMessages:hover {
   color: #F33;
}
#background:lastChild {
  margin-bottom: 20px;
}
 .sent {
   border-radius: 20px 20px 0 20px;
   background-color: rgba(35,35, 35, 0.3);
   color: #FAA;
   
}
 .recieved {
   border-radius: 20px 20px 20px 0;
   background-color: rgba(255,35, 35, 0.15);
   color: #FAA;
   
}
 
 blockquote {
   background-color: #333;
   color: #FFF;
   opacity: 0.75;
   border-right: solid 2px #AAA;
}
 #background {
   scrollbar-color: #F33 transparent;
}
 #input, #nameEntry {
   background-color: rgba(0, 0, 0, 0.5);
   color: #F33;
   backdrop-filter: blur(7px); 
   -webkit-backdrop-filter: blur(7px); 
}
#input:empty::before {
  color: #A77;
}
.owner {
   background-color: transparent;
   background-image: url('/media/red-ring.gif');
   background-size: 100% 100%;
   border-radius: 50%;
}
 .mod {
   background-color: transparent;
   background-image: url('/media/red-ring.gif');
   background-size: 100% 100%;
   border-radius: 50%;
}
#top_banner {
  background: #F33;
}
#loadMore {
  color: #F33;
  font-size: 10pt;
  font-family: Verdana;
}
#loadMore:hover {
  font-size: 12pt;
}
#settingsWrapper {
  background-color: #F33;
}
.ctxMenuOption {
  background-color: transparent !important;
  color: #F33;
}
.ctxMenuOption:hover {
  background-color: rgba(255, 255, 255, 0.25) !important;
}
#ctxMenu {
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  background-color: rgba(0, 0, 0, 0.5) !important;
}
#timestamp {
  display: flex;
  align-items: center;
  width: calc(100% - 10px);
  font-size: 8pt;
}
.sent + #timestamp {
  justify-content: flex-end;
  padding-right: 10px;
}
.recieved + #timestamp {
  justify-content: flex-start;
  padding-left: 10px;
}
.msgBody a {
  color: #F33 !important;
}
#emojiTray {
  background-color: rgba(255, 15, 5, 0.5);
  color: #000;
  border-color: #F33;
  backdrop-filter: blur(5px);
}
#settingsMenu hr {
  height: 1px;
  width: 100%;
  border: none;
  background: #F33;
}
#settingsMenu input[type=text] {
  border: none;
  outline: none !important;
  border-bottom: solid 1px #F33;
  color: #F33;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  padding: 3px;
}
#save {
  border: solid 1px #F33;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F33;
  padding: 10px;
  font-size: 12pt;
  backdrop-filter: blur(10px);
  cursor: pointer;
  border-radius: 3px;
}
#is_typing {
  background-color: transparent;
  height: 15px;
  border: solid 1px #F33;
  border-radius: 8px;
  backdrop-filter: blur(2px);
}
#is_typing > span {
  background-color: #F33;
}